{% extends 'base.html.twig' %}

{% block title %}Air Quality App{% endblock %}

{% block body %}
    <table class="table">
        Synchro listy stacji:
        {{ form(form) }}
        <thead>
            <tr>
                <th>ID stacji</th>
                <th>Nazwa</th>
                <th>Lokalizacja</th>
            </tr>
        </thead>
        <tbody>
        {% for station in stationList %}
            <tr>
                <td>{{ station.id }}</td>
                <td>
                    <a href="{{ path('station_detail', {stationId:station.id}) }}">{{ station.stationName }}</a>
                </td>
                <td>
                    {% if station.city %}{{ station.city.name }}{% endif %}, {{ station.addressStreet }}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
